{% extends 'students/base.html' %}
{% block title %}Messages{% endblock %}
{% load static %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <a href="{% url 'student:messages' %}"><button class="btn btn-success">Go Back</button></a>
            <hr><br>
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <div class="panel panel-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="panel-body">
                      <div class="container">
                        <strong>{{ message_det.sender_name }}</strong>
                        <span>({{ message_det.sender_id }})</span> to
                        <strong>me</strong>&nbsp;
                        <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                        <p>{{ message_det.sent }}</p>
                      </div>
                      <br>
                      <div class="well" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <h4> {{ message_det.subject }}</h4><hr>
                        <p>{{ message_det.message }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>

<!-- /page content -->
{% endblock %}
