<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    {% for row in std_profile %}
    {% if row %}
    <img src="{{ row.photo.url }}" alt="..." class="img-circle profile_img">
    {% endif %}
    {% endfor %}
  </div>
</div>
<!-- /menu profile quick info -->

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <div>
	   {% for row in std_profile %}
      {% if row %}
      <h3>{{ row.surname|upper }},&nbsp;{{ row.first_name|upper }}&nbsp;{% if row.other_names %}{{ row.other_names|upper }}{% endif %}</h3>
      {% endif %}
      {% endfor %}
	  <h4>{{ stud_id }}</h4>
    </div><hr>
    <ul class="nav side-menu">
      
      <li><a href="{% url 'student:dashboard' %}"><i class="fa fa-home"></i> Dashboard </a>
      </li>
      <li><a href="{% url 'student:profile' %}"><i class="fa fa-user"></i>My Profile </a>
      </li>
      <li><a><i class="fa fa-newspaper-o"></i>My Results <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'student:results' %}"> Current Results</a></li>
          <li><a href="{% url 'student:results_all' %}"> All Results</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-comments-o"></i> Messages <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'student:messages' %}"> Inbox</a></li>
          <li><a href="{% url 'student:send' %}"> Sent</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-money"></i> Finance Status <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'student:finance' %}"> Current</a></li>
          <li><a href="{% url 'student:finance_all' %}"> All</a></li>
        </ul>
      </li>
      <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout </a>
      </li><hr>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->