{% extends 'administration/base.html' %}
{% block title %}Profile Details{% endblock %}
{% load static %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <hr>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="panel-heading">
            <h3 class="panel-title">Profile Info</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'administration:teachers' %}"><button class="btn btn-success">Go Back</button></a>
            <hr><br>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <div class="thumbnail" style="height: 120px; width: 120px;">
                  <img src="{{ teacher_det.photo.url }}" alt="...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Teacher Id: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{ teacher_det.teach_id }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Name: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{ teacher_det.title|upper }}.&nbsp;{{ teacher_det.surname|upper }},&nbsp;{{ teacher_det.first_name|upper }}&nbsp;{% if teacher_det.other_names %}{{ teacher_det.other_names|upper }}{% endif %}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Gender: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{  teacher_det.gender }}</h5>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Date Hired: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{  teacher_det.hiredate }}</h5>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Teaching Subject: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{  teacher_det.subject }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Postal Address: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{  teacher_det.post_address }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-4">
                <h5><b>Home Address: </b></h5>
              </div>
              <div class="col-xs-6 col-md-8">
                <h5>{{  teacher_det.home_address }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}
